.chip {
  border-radius: 50%;
  display: flex;
  align-items: center;
  justify-content: center;
  cursor: pointer;
  color: white;
  font-weight: bold;
  user-select: none;
  margin: 5px;
  transition: transform 0.2s;

  &:hover {
    transform: scale(1.1);
  }
}
