html, body, #root {
  margin: 0;
  padding: 0;
  inline-size: 100%;
  block-size: 100%;
  overflow-x: hidden;
}

body {
  font-family: system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;}
